<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application android:allowBackup="false" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.ScoreboardEssential">
        <uses-library android:name="com.google.android.wearable" android:required="true" />

        <meta-data android:name="com.google.android.wearable.standalone" android:value="false" />

        <!-- Wear capabilities defined in res/values/wear.xml -->

        <activity android:name=".MainActivity" android:exported="true" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PlayerSelectionActivity" android:exported="false" android:label="Select Scorer" />

        <service android:name=".WearDataLayerService" android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPrefix="/scoreboard" />
            </intent-filter>
        </service>

    </application>

</manifest>